{erl_opts, [no_debug_info]}.
{deps, [{oneup, ".*", {git, "https://github.com/xaptum/oneup", {branch, "master"}} },
        {foil, ".*", {git, "https://github.com/lpgauth/foil.git", {branch, "master"}}},
        {fling, ".*", {git, "https://github.com/mrallen1/fling.git", {branch, "master"}}}]}.

{escript_incl_apps,
 ['erl_counter_bench']}.
{escript_top_level_app, 'erl_counter_bench'}.
{escript_name, 'erl_counter_bench'}.
{escript_emu_args, "%%! +sbtu +A0\n"}.

%% Profiles
{profiles, [{test,
             [{erl_opts, [debug_info]}
            ]}]}.
